# For Python
setuptools>=60.1.0

# For Flask Web Application
Flask>=2.0.3
Jinja2>=3.0.3

# For extra security for
# the Flask web app
Flask_Limiter>=2.0.4
flask-talisman>=1.0.0

# For Google Cloud Platform APIs
google-api-python-client>=2.51.0

# For integrity checks
google-crc32c>=1.3.0

# Other Google Cloud Platform APIs
# used in the Flask web app
google-cloud-secret-manager>=2.11.1
google-cloud-logging>=3.1.2