{% extends "base.html" %}
{% block title %}Index | Cultured Downloader{% endblock %}
{% block css %}{% endblock %}

{% block content %}
<div class="mainbody">
    <div class="textbody">
        <h1>Welcome to the download site for Cultured Downloader!</h1>
        <br>
        <h3>This is a software that is dedicated to downloading a wide range of items from Pixiv fanbox and Fantia such as Images, Videos, GIFs and PSD files!</h3>
        <h3>Do keep in mind that you will have to be logged in to actually be able to download the items that you bought, otherwise you will be locked to only the sample/free images that are being provided</h3>
        <br>
        <br>
        <h2>Instructions for the software:</h2>
        <h5>1. Download the software.</h5>
        <h5>2. Login using either your Pixiv Account, Fantia Account or both.</h5>
        <h5>3. Follow the instructions given in the software itself.</h5>
        <br>
        <h5>That's all. It is really easy and simple to use Cultured Downloader.</h5>
    </div>
</div>
{{ context.server_time }}
{% endblock %}