<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work In Progress</title>
    <!-- link tags for the favicon for all browsers including safari -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images//favicon-16x16.png">
</head>
<body>
    <h1>Cultured Downloader</h1>
    <h3>(Frontend by <a href="https://github.com/MikuChanUwU">Royston Loo</a> is in progress)</h3>
    {{ context.server_time }}
    <p>Go to <a href="/api">API documentations</a></p>
    {% include 'includes/_footer.html' %}
</body>
</html>