<footer class="header">
    <div>
        <!-- below is a temporary footer though you can use it for copyright in the actual footer -->
        <p id="copyrightYear">&copy; <a href="https://github.com/KJHJason/Cultured-Downloader">Cultured Downloader</a> by <a href="https://github.com/KJHJason">KJHJason</a>, <noscript>2022</noscript></p>
        <script>
            let footerCopright = document.getElementById("copyrightYear").appendChild(document.createTextNode(new Date().getFullYear()));
        </script>
    </div>
</footer>