<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- link tags for the favicon for all browsers including safari -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
</head>
<body>
    {% block content %}
       {% include 'navbar/navbar.html' %}
    {% endblock %}
    <p id="copyrightYear">&copy; <a href="https://github.com/KJHJason/Cultured-Downloader">Cultured Downloader</a> by <a href="https://github.com/KJHJason">KJHJason</a>, <noscript>2022</noscript></p>
    <script>
        let footerCopright = document.getElementById("copyrightYear").appendChild(document.createTextNode(new Date().getFullYear()));
    </script>
</body>
</html>
